/*                    FONTS                    */
@font-face {
    font-family: 'papyrusregular';
    src: url('https://elstest.github.io/mx/fonts/Papyrus_local_set/papyrus_local.woff2') format('woff2'),
    	 url('mx/fonts/Papyrus_local_set/papyrus_local.woff2') format('woff2'),
         url('https://elstest.github.io/mx/fonts/Papyrus_local_set/papyrus_local.woff') format('woff'),
		 url('mx/fonts/Papyrus_local_set/papyrus_local.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}









/*                    MAIN                    */
main {
	display: inline-block;
	border-width: 1150px;
	margin: 50px;
}






/*                    A                    */
a, button {
	display: inline-block;
	text-align: center;
	padding: 2px;
	text-decoration: none;

}
a:hover {
	background: #bfbfbf;
}
a:focus {
	background: #bfbfbf;
}







body {
	font-family: 'papyrusregular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
}
figure {
	display: inline-block;
}
p {
	text-align: justify;
	font-family: ;
}
span {
	display: inline-block;
	float: left;
}
#css_localisations_span {
	border: solid 1px #bfbfbf;
	padding: 0% 1%;
	width: 19%;
	height: 310px;
	margin: 2px;
}
ul {
	list-style-image: 
}
section, hr {
	clear: both;
}
ul {
	list-style-image: url("https://elstest.github.io/mx/logo_1.png")
}






/*                    FOOTER                    */
footer {
	font-family: times;
}