/* not working */
@font-face {
font-family: "Old_English";
src: url("https://elstest.github.io/mx/fonts/Old_English.ttf") format("truetype");
}
@font-face {
font-family: "Papyrus_Local";
src: url("https://elstest.github.io/mx/fonts/Papyrus_Local.ttf") format("truetype");
}
/* not working */



body {
	font-family: Papyrus_Local;
	font-weight:normal;
	font-style:normal;
}
main {
	display: inline-block;
	border-width: 1150px;
	margin: 50px;
}
footer {
  font-family: papyrusregular;
}
p {
	text-align: justify;
	font-family: Old_English;
	font-weight:normal;
	font-style:normal;
}
a {
  display: inline-block;
  width: 240px;
}
span {
	display: inline-block;
}