/*                    FONTS                    */
@font-face {
    font-family: 'papyrusregular';
    src: url('https://elstest.github.io/mx/fonts/Papyrus_local_set/papyrus_local.woff2') format('woff2'),
    	 url('mx/fonts/Papyrus_local_set/papyrus_local.woff2') format('woff2'),
         url('https://elstest.github.io/mx/fonts/Papyrus_local_set/papyrus_local.woff') format('woff'),
		 url('mx/fonts/Papyrus_local_set/papyrus_local.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}









/*                    MAIN                    */
main {
	display: inline-block;
	border-width: 1170px;
	margin: 40px;
}

/*                    HEADER                    */
h1 {
	text-align: center; font-size: 350%;
}
section, hr {
	clear: both;
}
section.nav {
	width: 95%; margin: 0 auto;
}




/*                    A                    */
nav a, nav button {
	display: inline-block;
	text-align: center;
	padding: 2px;
	text-decoration: none;

}
a:hover {
	background: #bfbfbf;
}
a:focus {
	background: #bfbfbf;
}



/*                    HISTOIRE                    */
span.histoire {
	overflow: auto;width: 40%;height: 300px;background-color: #fff20049;
}
p.histoire {
	width: 85%; padding: 0% 7%;
}
figure.histoire {
	width: 15%; border: outset; padding: 1%; background-color:#bfbfbf; margin: 2%;
}







body {
	background-color: #dcdcdc;
	font-family: 'papyrusregular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
}
figure {
	display: inline-block;
}
p {
	text-align: justify;
	font-family: ;
}
span {
	display: inline-block;
	float: left;
}
span.localisations {
	border: solid 1px #bfbfbf;
	padding: 0% 1%;
	width: 20%;
	height: 300px;
	margin: 3px;
}
ul {
	list-style-image: 
}
ul {
	list-style-image: url("https://elstest.github.io/mx/logo_1.png")
}
nav a {
	font-weight: bold;
}





/*                    FOOTER                    */
footer {
	font-family: times;
}